[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
flask = "*"
requests = "*"
pypdf = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
gradio = "*"
pytest = "*"
reportlab = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
